.home
{
    position:relative;
    float:left;
    height:100%;
    width:100%;
    background:linear-gradient(to right,black,rgb(142, 70, 70));
    /*  height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden; */
}
.subhome
{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:Center;
    overflow:hidden;
}
.slider
{
    position:relative;
    width:200px;
    height:200px;
    transform-style:preserve-3d;
    animation:rotate 30s linear infinite;
}
/*slideshow*/
@keyframes rotate
{
    0%
    {
        transform:perspective(1000px) rotateY(0deg);
    }
    100%
    {
        transform:perspective(1000px) rotateY(360deg);
    }
} 
/*slideshow*/
.slider span
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i)*45deg)) translateZ(350px); 
}
.slider span img
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:15px 5px 15px;
    border-color:red;
    object-fit:cover;
    transition:2s;
}
/* ABOUT CSSS STARTED -*/
/* about hover effect*/
/* #about
{
    position:relative;
    float:left;
    height:50%;
    width:100%;
    background-color:rgb(0, 242, 242);
}

*/
